* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}
button {
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}
button:hover {
  opacity: 0.7;
}
.buttons {
  margin: 30px 0;
  display: flex;
  gap: 30px;
}
#rock {
  background-color: #a200ff;
}

#paper {
  background-color: #9ee01a;
}

#scissors {
  background-color: rgb(0, 195, 255);
  width: 85px;
}

p {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}
.your-score span {
  color: #e01a9e;
}
.machine-score span {
  color: rgb(255, 136, 0);
}

.clear {
  font-family: cursive;
  background-color: #a67cbe6c;
}
